
<div class='book_container' id='view-<%=book.id%>'>

  <li> <a href="/book/<%=book.id%>"><%=book.title %></a> by <%= book.author %> </li>
  <% if book.isbn != nil %>
    <a href="https://www.amazon.com/dp/<%=book.isbn%>">Amazon</a>
    <a href='/price/<%=book.id%>'>Price</a>
    <% if book.prices.last != nil  %>
      <%= book.prices.last.cost %>
    <% end %>
  <% end %>

</div>







